@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
  --orange: hsl(31, 77%, 52%);
  --blue: hsl(184, 100%, 22%);
  --green: hsl(179, 100%, 13%);
  --white: hsla(0, 0%, 100%, 0.75);
  --gray: hsl(0, 0%, 95%);
}

/* Typography */

body {
  color: var(--white);
}

body,
button {
  font-family: 'Lexend Deca', sans-serif;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  text-transform: uppercase;
  color: var(--gray);
  font-size: 2em;
}

/* The 3 Divs */
section > div {
  padding: 2em;
}

div:first-of-type {
  background-color: var(--orange);
  border-radius: 1em 1em 0 0;
}

div:nth-of-type(2) {
  background-color: var(--blue);
}

div:last-of-type {
  background-color: var(--green);
  border-radius: 0 0 1em 1em;
}

/* Buttons */

button {
  background-color: var(--gray);
  border: 1px solid var(--gray);
  border-radius: 2em;
  padding: .75em 1.5em;
}

div:first-of-type button {
  color: var(--orange);
}

div:nth-of-type(2) button {
  color: var(--blue);
}

div:last-of-type button {
  color: var(--green);
}